/** Início Menu Hamburguer */

.header .menu {
  display: none;
  width: 60px;
  height: 60px;
  align-items: self-end;
}

.header nav label {
  display: flex;
  flex-direction: column;
}

.header .hamburguer {
  background-color: #000;
  position: relative;
  display: block;
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px;
  transition: 0.5s ease-in-out;
}

.header .hamburguer:before,
.header .hamburguer:after {
  background-color: #000;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.2s ease-in-out;
}

.header .hamburguer:before {
  top: -10px;
}

.header .hamburguer:after {
  bottom: -10px;
}

.header input {
  display: none;
}

.header input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

.header input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

.header input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}

/** Fim Menu Hamburguer */

/** Início Menu Header */
.header nav ul {
  display: flex;
}

.header nav ul li a {
  color: #053E8B;
  font-size: 2rem;
  font-weight: 500;
  padding: 0 30px;
  border-radius: 50px;
}

.header nav ul li a:hover {
  color: #fff;
  background-color: #ffbd1b;
}

.header .language {
  position: relative;
  width: 220px;
  margin-left: 40px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .language .language-selected {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header .language ul {
  position: absolute;
  top: 50px;
  background-color: #e5e6e8;
  flex-direction: column;
  padding-top: 10px;
  z-index: 1;
  display: none;
}

/* .header .language:hover ul {
  display: block;
} */

.header .language ul li {
  display: flex;
}

.header .language ul li:nth-child(2) {
  margin: 15px 0;
}

.header .language ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header .language ul li a:hover {
  text-decoration: underline;
  background-color: transparent;
  color: #053E8B;
}

.header .language ul li a::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 10px;
}

a.br::before {
  background: url(../images/flag-br.png);
}

a.en::before {
  background: url(../images/flag-en.png);
}

a.es::before {
  background: url(../images/flag-es.png);
}

.language-selected a .fa-solid {
  font-size: 2.5rem;
  color: #053E8B;
}

.language-selected a .fa-solid:hover {
  color: #ffbd1b;
  transition: color .3s;
}


@media (max-width: 900px) {
  .header .menu {
    display: block;
  }

  .header nav ul {
    display: none;
  }

  .header input:checked ~ ul {
    display: block;
  }

  .header nav {
    position: absolute;
    top: 8px;
    right: 20px;
    z-index: 1;
  }

  .header nav ul {
    width: 200px;
    background-color: #E5E6E8;
    padding: 20px;
  }

  .header nav ul a {
    text-align: center;
    padding: 20px;
    display: block;
  }
}



/** Fim Menu Header */