* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #e5e6e8;
}

h1 {
  margin: 12px 0;
  text-align: center;
}

p {
  font-size: 16px;
  font-weight: normal;
  margin: 10px 0;
}


